<ul style="display: flex; list-style: none; padding: 0; text-align: center;">
    <li style="flex: 1 1 0;"><a href="/">All</a></li>
    <li style="flex: 1 1 0;"><a href="/eating">Eating</a></li>
    <li style="flex: 1 1 0;"><a href="/general">General</a></li>
    <li style="flex: 1 1 0;"><a href="/physical">Physical</a></li>
    <li style="flex: 1 1 0;"><a href="/sleep">Sleep</a></li>
    <li style="flex: 1 1 0;"><a href="/study">Study</a></li>
</ul>