<%- include('./header.ejs') %>
<ul class="navbar">
    <li><a href="/behavior/reporting">Reporting</a></li>
    <li><a href="/behavior/summary">Summary</a></li>
    <li>
        <div class="logout-div">
            <p class="logout-text">Logged in as: <%= user.email %></p>
            <form method="POST" action="/auth/logout" class="logout-form">
                <input type="submit" value="logout" class="logout-button"/>
            </form>
        </div>
    </li>
</ul>