<%- include('./navbarLoggedIn.ejs') , {user: user} %>
<ul style="display: flex; list-style: none; padding: 0; text-align: center;">
    <li style="flex: 1 1 0;">
        <a href="/behavior/reporting/morning">
            Morning
            <% if(morningDone){ %>
            ( done )
            <% } %>
        </a>
    </li>
    <li style="flex: 1 1 0;">
        <a href="/behavior/reporting/evening">
            Evening
            <% if(eveningDone){ %>
            ( done )
            <% } %>
        </a>
    </li>
</ul>
