<h1>Eating</h1>
<table>
    <tr>
        <th>Päivä</th>
        <th>Times</th>
        <th>Habits</th>
    </tr>
    <% allEating.forEach((eat) => { %>
        <a href="/sleep/<%= eat.id %>">
            <tr>
                <td><%= eat.date %></td>
                <td><%= eat.times %></td>
                <td><%= eat.habits %></td>
            </tr>
        </a>
    <% }); %>
</table>