<%- include('./partials/header.ejs') %>
<H1>Self-monitoring app</H1>

<p>This is an application for self-reporting your daily activities like sleeping, studying, physical activity and so on.</p>
<p>All your data is stored in a safe database and you are the only person able to access your data.</p>

<br/>

<p>Here's a glimpse of what you can expect when logging in to your own page</p>
<br/>
<div class="flex-container text-center">
    <p class="flex-row">Mood today: <%= moodToday %></p>
    <p class="flex-row">Mood yesterday: <%= moodYesterday %></p>
</div>

<div class="text-center">
    <% if( moodToday > moodYesterday ) { %> 
    <p>Things are looking bright today</p>
    <% } else { %> 
        <p>Things are looking gloomy today</p>
    <% } %> 
</div>

<br/>

<ul class="landingpage-bar">
    <li><a href="/auth/login">Want to login an existing user?</a></li>
   <li><a href="/auth/registration">Register user</a></li>
   <li><a href="/behavior/reporting">Report your data</a></li>
</ul>
<%- include('./partials/footer.ejs') %>