<h1>Login!</h1>
<form method="POST" action="/auth/login">
    <h3>Email</h3>
    <input type="text" name="email"/>
    <h3>Password</h3>
    <input type="password" name="password" />
    <input type="submit" value="Login!" />
</form>
<a href="/auth/registration">Register user</a>
<% if (errors) { %>
    <%- include('./partials/errors.ejs', errors) %>
<% } %>