<%- include('./partials/header.ejs') %>
<h1>Login!</h1>
<form method="POST" action="/auth/login">
    <fieldset>
        <label for="emailField">Email</label>
        <input type="text" name="email" id="emailField"/>
        <label for="passwordField">Password</label>
        <input type="password" name="password" id="passwordField" />
        <input class="button-primary" type="submit" value="Login!" />
    </fieldset>
</form>
<a href="/auth/registration">Register user</a>
<% if (errors) { %>
    <%- include('./partials/errors.ejs', errors) %>
<% } %>
<%- include('./partials/footer.ejs') %>