<%- include('./partials/header.ejs') %>
<h1>Register!</h1>
<form method="POST" action="/auth/registration">
    <fieldset>
        <label for="emailField">Email</label>
        <input type="email" name="email" value="<%= email %>" id="emailField"/>
        <label for="passwordField">Password</label>
        <input type="password" name="password" id="passwordField"/>
        <label for="verificationField">Verification</label>
        <input type="password" name="verification" id="verificationField"/>
        <input type="submit" value="Submit!" />
    </fieldset>
</form>
<% if (errors) { %>
    <%- include('./partials/errors.ejs', errors) %>
<% } %>
<a href="/auth/login">Want to login an existing user?</a>
<%- include('./partials/footer.ejs') %>