<%- include('./partials/navbarLoggedIn.ejs') , {user: user} %>
<div style="display: flex;">
    <div style="flex: 1 1 0;">
        <%- include('./partials/monthView.ejs') , {summaryData: summaryData, month: month} %>
    </div>
    <div style="flex: 1 1 0;">
        <%- include('./partials/weekView.ejs') , {weekSummary: weekSummary, week: week} %>
    </div>
</div>