<%- include('./partials/navbarLoggedIn.ejs') , {user: user} %>
<div class="flex-container summary-grid">
    <div>
        <%- include('./partials/monthView.ejs') , {summaryData: summaryData, month: month} %>
    </div>
    <div>
        <%- include('./partials/weekView.ejs') , {weekSummary: weekSummary, week: week} %>
    </div>
</div>